.DS_Store

application/cache/*
!application/cache/index.html
application/logs/*
!application/logs/index.html
!application/*/.htaccess
application/config/_basic.php
application/config/development
application/config/testing
application/config/production

!application_api/*/.htaccess
application_api/cache/*
!application_api/cache/index.html
application_api/logs/*
!application_api/logs/index.html
application_api/config/development
application_api/config/testing
application_api/config/production
application_api/session/
application_api/third_party_composer/
index.php
!application_web/*/.htaccess
application_web/cache/*
!application_web/cache/index.html
application_web/logs/*
!application_web/logs/index.html
application_web/config/development
application_web/config/testing
application_web/config/production
application_web/session/
application_web/third_party_composer/
application/config/production/database.php

composer.lock

# IDE Files
#-------------------------
.vscode
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

/vendor/
/data/
